@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ARRC 備品管理システム</h1>
    <br />
    <br />
    <ul class="navbar-nav flex-grow-1">
        <li class="home">
            <form asp-controller="Home" asp-action="">
                <p>発注の希望はこちら</p>
                <input type="submit" class="btn btn-primary" value="発注希望" />
            </form>
            <br />
            <form asp-controller="Home" asp-action="OnpostPurchaseReports">
                <p>購入の報告はこちら</p>
                <input type="submit" class=" btn btn-primary" value="購入報告" />
            </form>
            <br />
            <form asp-controller="Home" asp-action="OnpostScanner">
                <p>活動時間外に使うときはこちら</p>
                <input type="submit" class="btn btn-primary" value="貸出" />
            </form>
            <br />
            <form asp-controller="Home">
                <p>返却手続きはこちら</p>
                <input type="submit" class="btn btn-primary" value="返却" />
            </form>
            <br />
            <form asp-controller="Home">
                <p>備品の在庫状況の確認はこちら</p>
            </form>
            <br />
        </li>
    </ul>
</div>

